
/* Tableau liste deroulante, plus, champs éditables pour nom de base de données et nom table */

#bdd{
	margin-left: auto;
	margin-right: auto;
	width: 210px;
	max-width: 100%;
}

/* Vue d'ensemble */

#historique{
	position:absolute;
	top: 0;
	right:0;
	height: 200px;
	width: 350px;
}

/* Miniatures */

.miniatures{
	margin-left:5px;
}

/* Positionnement image centrale */

#imageLigneBDD{
	height: 200px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}


/* Icones svg */

.iconmelon{
	width: 32px;
	height: 32px;
	display:block;
	max-width: 100%;
}


/* Tableau contenant les flèches et l'image centrale */

#tabImages{
	margin-left: auto;
	margin-right: auto;
}


/* Hauteurs images */

img{
	height: auto;
} 


/* Noms et champs éditables pour les champs */

#aff{
	margin-left: auto;
	margin-right: auto;
}

/* Les tableaux */

table {
	padding-top:5px;
	padding-bottom: 5px;
}


#newBase{
	width : 130px;
}

#newTable{
	width : 130px;
}

#nomchamp{
	width : 130px;
}

#valeurParDefaut{
	width : 100px;
	margin-top: 10px;

}

#bases{
	width:160px;
}

* {
	-webkit-user-select: none; /* Chrome/Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */
}









