select{
	width: 125px;
	max-width: 100%;
}

#bdd{
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	max-width: 100%;
}

#historique{
	position:absolute;
	top: 0;
	right:0;
	height: 100%;
	width: 150px;

}

.miniatures{
	margin-left:5px;
}




#imageLigneBDD{
	height: 200px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}



.iconmelon{
  width: 32px;
  height: 32px;
  display:block;
  max-width: 100%;
}


#tabImages{
	margin-left: auto;
	margin-right: auto;
}



body{
	user-select: none;
	background : transparent;
}

#blocNC{
  position: absolute;
  margin-left: 62%;
  margin-top: 5%;
}

img{
    height: auto;
} 

#aff{
  margin-left: auto;
  margin-right: auto;
  
}

table {
  padding-top:5px;
  padding-bottom: 5px;
}

#types{
	width: 125px;
}




